In [1]:
data = input()
num = int(data)
#data = int(input())
#data = int(input("Put your number:"))
print(data)
#print(type(data))

 mai yark f voyyy

mai yark f voyyy

In [2]:
data = int(input("Put your number:"))
print(data)

Put your number: 567890

567890

In [11]:
#type of print
data = 12345
data1 = 2
data2 = 234.678
data3 = 3

#1
print("Your number is: %d"%data)
#2
print("Your numbers: %d %d %f %d"%(data,data1,data2,data3))
print("Your numbers: %d %d %.2f %d"%(data,data1,data2,data3))
#3
print(f"Your numbers: {data} {data1} {data3}")
print(f"Your numbers: {data} {data1} {data3:.2f}")
#4
print("Your numbers:" ,data,data1,data3)

Your number is: 12345
Your numbers: 12345 2 234.678000 3
Your numbers: 12345 2 234.68 3
Your numbers: 12345 2 3
Your numbers: 12345 2 3.00
Your numbers: 12345 2 3

In [14]:
s1 = 'A'
s2 = 'B'
word = s1+s2
#1
print(word)
#2
print(s1+s2)
#3
s1+s2

#1
len(word)
#2
len(s1+s2)

AB
AB

2

In [23]:
#loop
for i in range(10):
    #have /n
    print(i)
    #Dont have /n and add borderline with (end="space")
    print(i ,end="?")
#out of for loop
print('B')

0
0?1
1?2
2?3
3?4
4?5
5?6
6?7
7?8
8?9
9?B

In [41]:
#list(String, float ,int)
#list  is linked list
list = [10,20,30,40,'like',50.50]
#can Add,Remove
print(list)
#add
list.append("god")
#remove but just look for first to found and delete
list.remove(20)
#sorting about one type if you have int, float,string(different type) you cant sort this list except you have int,int,int (same type)
list1 = [20,60,30,40]
list1.sort()
print(list1)

list1.append(10)
list1.sort()
print(list1)
#max
max(list1)
min(list1)
#len can use with list and dot care if you have different data type
#same data type
len(list1)
#dif data type
len(list)
#conjunction list with plus (+) 
#1
list1+list
#2
list+=list1

[10, 20, 30, 40, 'like', 50.5]
[20, 30, 40, 60]
[10, 20, 30, 40, 60]

6

In [44]:
#tuple 
#tuple is not array ,cant change value on any index

tuple = (21, "Mengumi",77)
tuple1 = (11,12)
#can plus tuple wiht another one
t= tuple+tuple1 
print(tuple)
print(tuple1)
print(t)
#can look for and print
print (tuple[0])
#but cant fix to add or remove

(21, 'Mengumi', 77)
(11, 12)
(21, 'Mengumi', 77, 11, 12)

In [77]:
#dict
#dictionary is ilke hashing table [HashMap]
#1
dict1 = {"Apple":[35000,40000,45000],"Samsumg":30000,15000:"Vivo"}
#front = keyword ,back = value
# a keyword support more than one value
print (dict1)
#how to access result of keyword
print("price of Apple:" ,dict1["Apple"])
print("Phone 15000 bath is ",dict1[15000])
len(dict1)

{'Apple': [35000, 40000, 45000], 'Samsumg': 30000, 15000: 'Vivo'}
price of Apple: [35000, 40000, 45000]
Phone 15000 bath is  Vivo

3

In [72]:
list=[10,20,30,40,50,60]
for i in list :
    print(i)

10
20
30
40
50
60

In [74]:
dict = {"Apple":[35000,40000,45000],"Samsumg":30000,15000:"Vivo"}
for i in dict:
    print(i)

Apple
Samsumg
15000

In [88]:
#Data collection index slicing

list=[10,20,30,40,50,60]
#front to back
#[start:index-1]
print(list[1:4])
#reverse
print(list[-1])
#Move
print(list[0:4:2])
#1
list.reverse()
print("Reverse : ",list)
#2
print(list[::-1])

[20, 30, 40]
60
[10, 30]
Reverse :  [60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60]